<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<% rows.forEach(function(row) { %>
		<title><%= row.shopName %>の詳細情報</title>
		<link rel="stylesheet" href="/styles/menu.css" type="text/css" />
	</head>
	<body>
		<div class="header">
			<h1><div class="title"><%= row.shopName %>の詳細情報</div></h1>
			<div class="buttonDiv">
				<button
					id="deleteButton"
					class="deleteButton"
					dataId="<%= row.id %>"
					fileId="<%= row.image %>"
				>
					削除
				</button>
			</div>
		</div>
		<div class="main">
			<div class="shop">
				<h1 class="shopName">店名：<%= row.shopName %></h1>
				<div class="total">
					<% let fiveStarRate =Math.ceil((row.men + row.soup + row.topping) / 300 / 0.2)
					%>
					<p class="fiveStarRate">
						<img src="/pictures/fiveStars.png" <% if (fiveStarRate === 1) { %>
						id="score1" <% } else if (fiveStarRate === 2) { %> id="score2" <% } else if
						(fiveStarRate === 3) { %> id="score3" <% } else if (fiveStarRate === 4) { %>
						id="score4" <% } else if (fiveStarRate === 5) { %> id="score5" <% } %> />
					</p>
				</div>
			</div>
			<div class="picture">
				<div class="item">
					<p class="menImage">
						<img
							src="/upload/<%= row.image %>"
							fileId="<%=row.image %>"
							alt=""
							width="auto"
							height="400"
						/>
					</p>
				</div>
			</div>
		</div>
		<div class="container">
			<dl class="point">
				<div class="group">
					<dt>麺</dt>
					<dd>: <%= row.men %></dd>
				</div>
				<div class="group">
					<dt>スープ</dt>
					<dd>: <%= row.soup %></dd>
				</div>
				<div class="group">
					<dt>トッピング</dt>
					<dd>: <%= row.topping %></dd>
				</div>
			</dl>

			<div class="text">
				<h2>コメント</h2>
				<p class="textArea"><%= row.comment %></p>
			</div>
		</div>
		<% }) %>
		<script>
			const deleteButton = document.getElementById("deleteButton");
			deleteButton.addEventListener("click", function () {
				const idToDelete = this.getAttribute("dataId");
				const deleteFile = this.getAttribute("fileId");
				// 追加: 確認ダイアログ表示
				if (!confirm("本当に削除してもいいですか？")) {
					return; // 「Cancel」を選択した場合、以降の処理はキャンセルされます
				}
				fetch(`/menu/delete-file/${deleteFile}`, {
					method: "DELETE",
					body: JSON.stringify({ deleteFile }),
					headers: {
						"Content-Type": "application/json",
					},
				})
					.then((response) => {
						if (response.status === 200) {
							fetch(`/menu/${idToDelete}`, {
								method: "DELETE",
								body: JSON.stringify({ deleteFile }), // deleteFile を送信
								headers: {
									"Content-Type": "application/json",
								},
							});
							// 削除が成功したときの処理
						} else {
							// 削除が失敗したときの処理
							alert("データの削除に失敗しました。");
						}
					})
					.catch((error) => {
						console.error("エラー: " + error);
					});
			});
		</script>
	</body>
</html>
